{
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 1337
}
